/* 기본 스타일 리셋 및 공통 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: SF Pro KR, SF Pro Display, SF Pro Icons, Apple Gothic, HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    line-height: 1.1875;
    text-decoration: none;
    
}
a {
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .footer_container {
      flex-direction: column;
    }
}
/*헤더 설정*/
.storehome_header{
    display: flex;
    width: auto;
    max-height: 248px;
    margin : 0 140px 0 140px;
    justify-content: space-between;
    align-items: center;
}
.storehome_header_left{
    min-width : 640px;
    display: flex;
    flex-flow : row wrap;
    width : 100%;
    padding: 80px 0 64px;
    flex-basis: 66.66666667%;
    max-width: 640px;
}

.storehome_header_left_title{
    display: inline;

}
.storehome_title_main_text_black{
    font-size: 48px;
    font-weight: 600;
    word-break: keep-all;
}
.storehome_title_main_text_gray{
    font-size: 48px;
    font-weight: 600;
    color : #626273;
    word-break: keep-all;
}

.storehome_header_right{
    display: flex;
    max-width: 204.3px;
    flex-wrap: wrap;
    padding: 90px 0px 54px;
}
.storehome_header_right_chat{
    display: flex;
    width: 100%;
    height: 60px;
    max-width: 204.3px;
    padding: 0px 0px 16px;
    flex-wrap: wrap;
}
.storehome_header_right_chat_img{
    width: 30%;
    min-width: 44px;
    max-width: 44px;
    min-height: 36px;
    max-height: 36px;
    justify-content: left;
    align-items: center;
}
.storehome_header_right_chat_text_container{
    width: 70%;
    min-width: 160.03px;
}
.storehome_header_right_chat_text{
    flex: 1;
    min-height: 22px;
    
}
.storehome_header_right_chat_link{
    flex: 1;
    min-height: 22px;
}
.storehome_header_right_chat a{
    font-size: 13px;
    color: #0066CC;
    text-decoration: none;
}
.storehome_header_right_chat p{
    font-size: 13px;
}
/*헤더 설정 끝*/

/*최신 제품 스크롤 설정*/
.storehome_scroll_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 40px 0px;
}

.storehome_scroll_item_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.storehome_scroll_item_container_card_front{
    width: 146px;
    height: 148px;
}
.storehome_scroll_item_container_card{
    width: 136px;
    height: 150px;
    padding: 18px 8px 16px;
}
.storehome_scroll_item_container_img{
    height: 94px;
    width: 120px;
    padding: 0px 0px 16px;
}
.storehome_scroll_item_container_img img{
    width: 120px;
    height: 78px;
}

.storehome_scroll_item_container_img_text{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.storehome_latest_product{
    margin : 0 0 0 140px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px 0px 40px;
}

.storehome_latest_product_title{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
.storehome_title_text_black{
    font-size: 28px;
    font-weight: 600;
    padding: 0px 0px 16px;
    white-space: nowrap;
}
.storehome_title_text_gray{
    font-size: 28px;
    font-weight: 600;
    color : #626273;
    padding: 0px 0px 16px;
    white-space: nowrap;
}

.storehome_latest_product_card_container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    overflow : scroll;
}
.storehome_latest_product_card{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 0px 10px 16px;
}
/*최신 제품 스크롤 설정 끝*/

/*도움 카드 설정*/

.storehome_help_card{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin : 0 0 0 140px;
    padding: 0 0 40px;
}
.storehome_help_card_title{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
.storehome_help_card_container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.storehome_help_card_container_card{
    width: 500px;
    height: 500px;
    margin: 0 10px 0 10px;
}
/*도움 카드 설정 끝*/

/*쇼핑 카드 설정*/
.storehome_shopping_reason{
    display: flex;
    flex-direction: column;
    margin : 0 0 0 140px;
    padding: 0 0 40px;
}
.storehome_shopping_reason_title{
    display: flex;
    flex-direction: row;
}

.storehome_shopping_reason_card{
    display : flex;
    flex-direction: row;
    width: 333px;
    min-width: 333px;
    height: 240px;
    justify-content: space-between;
    
}

.storehome_shopping_reason_main{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 240px;
}

.storehome_shopping_reason_card_container{
    display: flex;
    flex-direction: row;
    width: 313px;
    height: 240px;
    padding : 30px 30px 0;
    background-color: #ffffff;
    border-radius: 20px;
}


      
.storehome_shopping_reason_card_container_icon{
    width: 253px;
    height: 53px;
    padding : 0 0 5px;
}

.storehome_shopping_reason_card_container_text{
    width: 253px;
    font-size: 22px;
    font-weight: 600;
}

.card_icon{
    color :#008009;
    fill: #008009;
}

.card_icon_elevated{
    color :#007aff;
    fill  : #007aff;
}

.card_icon_elevated_purple{
    color :#ac39ff;
    fill  : #ac39ff;
}

.card_icon_elevated_navy{
    color :#3f6eb8;
    fill  : #3f6eb8;
}

.storehome_shopping_reason_card_container_text{
    line-height: 1.2917;
}
/*쇼핑 카드 설정 끝*/

/*액세서리 카드 설정*/
.storehome_shopping_product_accessories{
    display: flex;
    flex-direction: column;
    margin : 0 0 0 140px;
    padding: 0 0 40px;
}

.storehome_shopping_product_accessories_title{
    display: flex;
    flex-direction: row;
}

.storehome_shopping_product_accessories_card{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.storehome_shopping_product_accessories_card_container{
    display: flex;
    width: 420px;
    height: 500px;
    margin: 0 10px 0 10px;
}

.storehome_shopping_product_accessories_card_container_card{
    display: flex;
    width: 333px;
    height: 500px;
    margin: 0 10px 0 10px;
}
/*액세서리 카드 설정 끝*/  

/*음향기기 카드 설정*/
.storehome_shopping_product_audio{
    display: flex;
    flex-direction: column;
    margin : 0 0 0 140px;
    padding: 0 0 40px;
}

.storehome_shopping_product_audio_title{
    display: flex;
    flex-direction: row;
}

.storehome_shopping_product_audio_card{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.storehome_shopping_product_audio_card_container{
    display: flex;
    width: 420px;
    height: 500px;
    margin: 0 10px 0 10px;
}

.storehome_shopping_product_audio_card_container_card{
    display: flex;
    width: 333px;
    height: 500px;
    margin: 0 10px 0 10px;
}
/*음향기기 카드 설정 끝*/
