/* 기본 스타일 리셋 및 공통 설정 */
* {
  font-family: SF Pro KR, SF Pro Display, SF Pro Icons, Apple Gothic, HY Gulim, MalgunGothic, HY Dotum, Lexi Gulim, Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: -1px; /* 글자 사이 간격을 좁게 설정 */
}

/* 기본 레이아웃 설정 */
body {
  line-height: 1.25;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #1d1d1f;
}







