
.image_card{
    width: 480px;
    height: 500px;
    position: relative;
    justify-content: center;
}

.image_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.image_card_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 176px;
    position: absolute;
    top : 0 ;
    bottom: 70%;
    padding: 30px;
}


.image_card_info_text{
    font-size: 12px;;
    padding : 0 0 8px;
    color: #6E6E73;
    white-space: normal;
}

.image_card_info_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 10px 0 0 0;
}

.image_card_info_body_name{
    font-size: 24px;
    padding : 0 0 6px;
    font-weight: 600;
    white-space: normal;
}

.image_card_info_body_describe{
    font-size: 16px;
    padding : 10px 0 0 0;
    white-space: normal;
}






