/*./card480.module.css*/
/* 상품 카드 영역 */
.image_card{
    width: 480px;
    height: 500px;
    position: relative;
    justify-content: center;
}

/* 상품 카드 이미지 영역 */
.image_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

/* 상품 카드 정보 영역 */
.image_card_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 176px;
    position: absolute;
    top : 0 ;
    bottom: 70%;
    padding: 30px;
}

/* 상품 카드 정보 영역 소형 */
.image_card_info_small{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 176px;
    position: absolute;
    top : 0 ;
    bottom: 70%;
    padding: 30px;
}

/* 상품 카드 정보 영역 텍스트 영역 */
.image_card_info_text{
    font-size: 12px;;
    padding : 0 0 8px;
    color: #6E6E73;
    white-space: normal;
    word-break: keep-all;
    font-weight: 600;
}

/* 상품 카드 정보 영역 바디 영역 */
.image_card_info_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 10px 0 0 0;
}

/* 상품 카드 정보 영역 바디 이름 영역 */
.image_card_info_body_name{
    font-size: 28px;
    padding : 0 0 6px;
    font-weight: 600;
    white-space: normal;
    word-break: keep-all;
}

/* 상품 카드 정보 영역 바디 설명 영역 */
.image_card_info_body_describe{
    font-size: 16px;
    padding : 10px 0 0 0;
    white-space: normal;
    word-break: keep-all;
}






